# Test Report

*Report generated on 09-Jun-2023 at 18:56:44 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

4 tests ran in 0.64 seconds

- 4 passed
