# Test Report

*Report generated on 09-Jun-2023 at 18:57:58 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

4 tests ran in 1.86 seconds

- 4 passed
