# Test Report

*Report generated on 09-Jun-2023 at 18:57:08 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

4 tests ran in 0.81 seconds

- 4 passed
