# Test Report

*Report generated on 09-Jun-2023 at 19:01:07 by [pytest-md]*

[pytest-md]: https://github.com/hackebrot/pytest-md

## Summary

4 tests ran in 1.07 seconds

- 4 passed
